*{
    margin: 0;
    padding: 0;
}

a{
    display: block;
    cursor: pointer;
    text-decoration: none;
}

body{
    font-family: 'Space Grotesk', sans-serif;
}

h2{
    font-weight: 300;
}



p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p{
    line-height: 1.6em;
    color:#333333;
}

ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.section{
    padding: 30px 0;
}

.container{
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}




.my-carousel{
    padding: 0;
}

.carousel-item{
    background-size: cover; 
    /* background-attachment: fixed;  */
    background-position: 50% 50%;
}

.my-carousel .carousel-item{
    display: flex;
    max-height: 720px;
    width: 100%;
}

.my-carousel .carousel-item img{
    object-fit: cover;
}

.carousel-inner{
    position: relative;
}

.logo{
    /* margin: 0 auto; */
    width: 250px;
    height: 70px;
    /* margin-top: -200px; */
}

.carousel-item {
    padding: 35px;
    position: absolute;
    opacity: 0;
    transition: opacity 2000ms  cubic-bezier(0.4, 0, 0.2, 1);
    width: calc(100% - 70px);
    height: 540px;
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: start;
    
}

.carousel-item.active {
    opacity: 1;
}

.carousel-item1 {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/aira-bg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),url(../images/aira-bg.jpg);
    /* background-image: url(../images/aira-bg.jpg);  */
}

.carousel-item2 {
    background-image: url(../images/LX8610_Lavello_Workstation.jpg); 
}

/* .carousel-item3 {
    background-image: url(../images/header02.jpg); 
} */

.stack{
    height: 610px;
}

.mainTitle{
    text-transform: uppercase;
    font-size: 48px;
    margin-bottom: 56px;
    color: #ffffff;
    text-align: center;
    font-weight: 700;
}

.afterTitle{
    color: #ffffff;
    font-size: 37px;
    text-align: center;
    position: absolute;
    top: 50%;
}

.sectionAbout{
    margin-top: 30px;
}

.about{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
    border-bottom: 1px rgba(0, 0, 0, 0.09) solid;
}

.aboutTitle{
    color: #333333;
    font-size: 54px;
    margin-bottom: 30px;
    line-height: 1em;
}

.aboutText{
    font-size: 16px;
    line-height: 1.6em;
}

.companylist{
    display: flex;
    flex-direction: column;
}

.companyItem + .companyItem{
    margin-top: 30px;
}

.companyLogo{
    height: 75px;
    margin: 0 auto;
    margin-bottom: 24px;
    
}

.companyDescription{
    font-size: 14px;
}



.contactsSection{
    
    background-image: url(../images/contempo_render_2023.jpg);
    /* background-position: 50% 100%; */
    /* background-position: top 100% right 50%;
background-position-x: 50%;
background-position-y: 100%; */
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.contactsContainer{
    display: flex;
    flex-direction: column;

    justify-content: center;
}

.contactsTitle{
    color: #ffffff;
    margin-bottom: 25px;
    font-size: 36px;
}

.afterContactsTitle{
    color: #ffffff;
    font-size: 26px;
    border-bottom: 1px rgba(255, 255, 255, 0.10) solid;
}

.contactsSection{
    padding: 120px 0;
}

.adressList{
    margin: 5px 0 20px 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.adressItem{
    color: #ffffff;
}

.adressItem + .adressItem{
    margin-top: 5px;
}

.contactsList{
    display: flex;
    flex-direction: column;
}

.contactsItem + .contactsItem{
    margin-top: 5px;
}

.contactsLink{
    color: #ffffff;
    text-decoration: underline;
}

.footerText{
    text-align: center;
    color:rgba(51, 51, 51, 0.29);
}

@media screen and (min-width: 480px) {
    .container{
        width: 450px;
    }
}

@media screen and (max-width: 767px) {
    .airoLogo{
        max-width: 220px;
        /* height: 115px; */
    }
}

@media screen and (min-width: 768px) {
    .stack{
        height: 710px;
    }

    .logo{
        /* margin: 0 auto; */
        width: 300px;
        height: 80px;
        /* margin-top: -200px; */
    }
    

    .container{
        width: 708px;
        padding: 0 30px;
    }
    .mainTitle{
        margin-bottom: 155px;
    }

    .afterTitle{
        font-size: 55px;
        margin-bottom: 25px;
    }

    .about{
        flex-direction: row;
    }

    .aboutTitle{
        margin-right: 36px;
        width: 50%;
        margin-bottom: 0;  
    }
    
    .aboutText{
        width: 50%;
    }

    .companylist{
        flex-direction: row;
    }

    .companyItem{
        flex-basis: calc((100% - 48px) / 3);
    }
    
    .companyItem + .companyItem{
        margin-top: 0;
        margin-left: 24px;
    }

    .companyLogo{
        height: 115px;
    }

    .contactsContainer{
        flex-direction: row;
    }

    .contactsTitle{
        margin-right: 36px;
        margin-bottom: 0;
    }

    .contactsSection{
        background-attachment: fixed;
    }
    
    .carousel-item{
        height: 640px;
    }
    
}

@media screen and (min-width: 1024px){
    .container{
        width: 960px;
    }

    .carousel-item{
        background-position: 100% 45%;
    }
}